.friends-display i {
  margin: 0 10px;
  opacity: 0.3;
}
.friends-display {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 40px;
}
.channel-top {
  border-top: 1px solid rgb(218, 217, 217);
  padding-top: 10px;
  color: grey;
  margin-bottom: 15px;
}
.msg-line__channel .msg-line__column:nth-child(2) {
  opacity: 0.5;
}
.msg-line__channel .msg-line__column i {
  margin-left: 5px;
}
