.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 30px;
  background-color: rgb(241, 241, 241);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav-bar a:nth-child(2) {
  display: flex;
  position: relative;
}
.red-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: tomato;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18px;
  right: -7px;
}
