.no-mobile {
  color: white;
  background-color: rgb(255, 185, 185);
  height: 100vh;
  width: 100vw;
  font-size: 30px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}
